#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: rgb(67, 49, 49);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}