#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        background-color: goldenrod;
        width: 70%;
        padding: 0px;
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 3px solid rgb(15, 1, 1);
        height: 100%;
    }
}