#home-container {
  display: flex;
  height: 100%; }
  #home-container #feed-posts {
    background-color: goldenrod;
    width: 70%;
    padding: 0px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 3px solid #0f0101;
    height: 100%; }
